ul {
    list-style: none;
}

.container {
    margin-top: 5vh;
}

.list {
    width: 17vw;
    margin-left: 1.5vw;
}
.listText {
    margin: 0;
    text-align: center;
    padding: 1em;
    color: #576b76;
    font-size: 2vw;
    background-color:#fff;
    border-radius: 0.5em;
    // border: 1px solid #4db8eb;
    box-shadow: 0px 3px 15px -10px rgba(0, 0, 0, 0.5);
}

.listText {
    margin: 0.5em;
    transition: all 0.3s ease-in-out;
}

.listText:hover {
    transform: scale(1.2);
}

.row {
    display: flex;
    flex-direction: row;
    width: 11vw;
    justify-content: space-between;
    margin-top: 3vw;
}

.column {
    display: flex;
    flex-direction: column;
}

.wifi {
    width: 2.7vw;
    height: 2.6vw;
    
}

.waterTap {
    width: 2.8vw;
}



// @media all and (min-aspect-ratio: 9/16) {
//   .list {
//     padding: 0.5em;
//     /* max-width:14/16 */
//     margin: 0px auto;
//     margin-top: 0.5em;
//     overflow: hidden;
//   }
//   .list li {
//     padding: 0.5em 1%;
//     display: block;
//     width: 50%;
//     float: left;
//     background: none;
//     border: 0;
//   }

//   .li-text {
//     display: block;
//     width: auto;
//     padding: 0;
//   }
//   .li-text {
//     padding: 0.1em 0;
//   }
// }
// @media all and (min-aspect-ratio: 16/16) /*(min-width: 80em) */ {
//   .list li {
//     width: 20%;
//   }
// }
