// .pump {
//     // width: 30vw;
//     background-image: 
//         url(../../images/whitePump.gif);
//     background-repeat: no-repeat;
//     background-size: contain;
// }

.pumpBoxes {
    display: flex;
    width: 100vw;
    height: 30vh;
}

.pump {
    position: relative;
    width: 25vw;
}
.pumpTitle {
    font-size: 1.3vw;
    position: absolute;
    right: 5vw;
    top:1.6vw;
}

.pumpImg {
    width: 22vw;
    position: absolute;
    left: 0;
    top: 0;
}

.pumpBox {
    display: flex;
    flex-direction: column;
    
}

.detail {
    margin-top: 5vw;
    font-size: 1.5vw;
}
