// .pump {
//     // width: 30vw;
//     background-image: 
//         url(../../images/whitePump.gif);
//     background-repeat: no-repeat;
//     background-size: contain;
// }

.pumpBoxes {
    display: flex;
    width: 100vw;
    height: 30vh;
}

.pump {
    position: relative;
    width: 25vw;
}
.pumpTitle {
    font-size: 1.3vw;
    position: absolute;
    right: 5vw;
    top:1.6vw;
}

.pumpImg {
    width: 22vw;
    position: absolute;
    left: 0;
    top: 0;
}

.pumpBox {
    display: flex;
    flex-direction: column;
    
}

.detail {
    margin-top: 7vw;
    width: 22vw;
    font-size: 1.5vw;
    background-color: #fff;
    border-radius: 1em;
}

.row {
    display: flex;
    margin: 0.3vw;
}

.name {
    width:5vw;
    margin-right: 1vw;
}

.value {
    width: 6vw;
}

.auto {
    background-color: red;
    color: #fff;
    font-size: 1.5vw;
    text-align: center;
    padding: 1em;
}

.manual {
    color: blue;
    font-size: 1.5vw;
    font-weight: 500;
    text-align: center;
    padding:0.5em;
    margin: 0.5vw;
    border-bottom: 1px solid gray;
}

.bottom {
    margin-top:1vw;
    margin-left: 5vw;
    margin-bottom: 1vw;
}