ul {
  list-style: none;
}

.container {
  background-color: #eae9f1;
  width: 100vw;
  height: 100vh;
}

.modemName {
  background-color: #fff;
  width: 20vw;
  padding: 0.5em;
  margin-bottom: 5vh;
  text-align: center;
  border: 3px solid #00CDCD;
  border-radius: 2em;
  margin-left: 32.5vw;
  margin-top: 1.3em;
  font-size: 1.2em;
  font-weight: 500;
  color: #4d7082;
}

.connectBox {
  display: flex;
}

.connect {
  background-color: #fff;
  width: 15vw;
  padding: 1em;
  margin-left: 25vw;
  text-align: center;
  border-radius: 1em;
  color: #6c6c6c;
}

.listText {
  text-align: center;
  padding: 7% 10%;
  color: #576b76;
  font-size: 200%;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #4db8eb;
  box-shadow: 0px 3px 30px -10px rgba(0, 0, 0, 0.4);
}

.listText {
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
}

.listText:hover {
  transform: scale(1.2);
}

@media all and (min-aspect-ratio: 9/16) {
  .list {
    padding: 0.5em;
    /* max-width:14/16 */
    margin: 0px auto;
    margin-top: 0.5em;
    overflow: hidden;
  }
  .list li {
    padding: 0.5em 1%;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }

  .li-text {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text {
    padding: 0.1em 0;
  }
}
@media all and (min-aspect-ratio: 16/16) /*(min-width: 80em) */ {
  .list li {
    width: 20%;
  }
}
