ul {
  list-style: none;
}

.container {
  background-color: #eae9f1;
  width: 100vw;
  height: 100vh;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left:3vw;
}

.modemName {
  background-color: #fff;
  width: 20vw;
  padding: 1em;
  text-align: center;
  border: 3px solid #00CDCD;
  border-radius: 2em;
  font-size: 1.5vw;
  font-weight: 500;
  color: #4d7082;
}

.mapButton {
  background-color: #fff;
  width: 4.5vw;
  padding: 1em;
  
  text-align: center;
  
  border-radius: 0.7em;
  font-size: 1.5vw;
  font-weight: 500;
  color: #4d7082;
  margin-left: 1em;
}

.connectBox {
  display: flex;
}

.connect {
  background-color: #fff;
  width: 15vw;
  padding: 1em;
  margin-left: 5em;
  text-align: center;
  border-radius: 1em;
  color: #6c6c6c;
  font-size: 1.5vw;
}

.connectEnd {
  color: #f7727f
}

.connectPlz {
  background-color: #fff;
  width: 6.5vw;
  padding: 1em;
  text-align: center;
  border-radius: 1em;
  color: #6c6c6c;
  margin-left: 1em;
  font-size:1.5vw;
}

.box {
  background-color: #fff;
  padding: 1em;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30vw;
  border-radius: 1em;
}

.boxFont {
  width: 8vw;
  font-size:1.5vw;
}

.boxValue {
  width: 6vw;
  display: flex;
  justify-content: center;
  font-size:1.5vw;
}

.boxValueInput {
  width: 6vw;
  display: flex;
  justify-content: center;
  font-size:1.5vw;
  border: 0;
  border-bottom:1px solid #4db8eb;
}

.boxButton {
  background-color: #4db8eb;
  color: #fff;
  text-align: center;
  margin-left: 1vw;
  font-size:1.2vw;
  padding: 1em;
  border-radius: 1em;
}

.updateBox {
  width: 40vw;
  color: #fff;
  background-color: #4db8eb;
  font-size:1.3vw;
  font-weight: 500;
  text-align: center;
  padding: 1em;
  margin-left: 30vw;
  border-radius: 1em;
  margin-top: 1vw;
}

.sectorComponent {
  margin-top: 2vw;
}

.listText {
  text-align: center;
  padding: 7% 10%;
  color: #576b76;
  font-size: 200%;
  background-color: white;
  border-radius: 50px;
  border: 1px solid #4db8eb;
  box-shadow: 0px 3px 30px -10px rgba(0, 0, 0, 0.4);
}

.listText {
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
}

.listText:hover {
  transform: scale(1.2);
}

@media all and (min-aspect-ratio: 9/16) {
  .list {
    padding: 0.5em;
    /* max-width:14/16 */
    margin: 0px auto;
    margin-top: 0.5em;
    overflow: hidden;
  }
  .list li {
    padding: 0.5em 1%;
    display: block;
    width: 50%;
    float: left;
    background: none;
    border: 0;
  }

  .li-text {
    display: block;
    width: auto;
    padding: 0;
  }
  .li-text {
    padding: 0.1em 0;
  }
}
@media all and (min-aspect-ratio: 16/16) /*(min-width: 80em) */ {
  .list li {
    width: 20%;
  }
}
